<div class="card">
    <div class="card-header" style="background-color:#BFCEDF;">
        <h2 style="color:#003865;">Confirmación de Email</h2>
    </div>
    <div class="card-body">
        <p>Gracias por confirmar su email. Por favor haga <a asp-controller="Cuentas" asp-action="Login">Click aquí para acceder</a></p>
    </div>
</div>