<div class="card">
    <div class="card-header" style="background-color:#BFCEDF;">
        <h2 style="color:#003865;">Confirmación de olvido de contraseña</h2>
    </div>
    <div class="card-body">
        <p>Por favor verifique su email para recuperar contraseña</p>
    </div>
</div>

