@model AccesoViewModel

@{
    ViewData["title"] = "Inicio Sesión Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["Correcto"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Correcto"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["Error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="row">
    <div class="col-sm-3" style="background-image: url('/images/fondo_inicio.png'); width: 100; height: 100; ">
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">

                <h1 class="card-title text-center" style="color:#003865;">Login</h1>
                <form asp-controller="Cuentas" asp-action="Login" method="post" role="form">
                    <div class="text-danger" asp-validation-summary="All"></div>

                    <div class="row mt-4">
                        <div class="col-sm-6 offset-3 ">

                            <div class="mb-4">
                                <label asp-for="Email" class="col-md-12"></label>
                                <input asp-for="Email" class="form-control" placeholder="Introduce tu email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="mb-4">
                                <label asp-for="Password" class="col-md-12"></label>
                                <input asp-for="Password" class="form-control" placeholder="Introduce tu contraseña" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <div class="custom-check">
                                    <label asp-for="RememberMe" class="col-md-12">
                                        <input asp-for="RememberMe" />
                                        @Html.DisplayNameFor(m=>m.RememberMe)
                                    </label>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 offset-3 ">
                            <button type="submit" style="background-color:#003865;" class="btn w-100 btn-lg text-white">Iniciar Sesion <i class="bi bi-arrow-right-circle-fill"></i></button>
                            <p class="mt-3 "><a asp-action="Registro" style="text-decoration:none; color:#003865;margin-left:12%;">¿Aún no estás registrado?</a></p>
                            <p class="mt-2 "><a asp-action="OlvidoPassword" style="text-decoration:none; color:#003865; margin-left:12%;">He olvidado mi contraseña</a></p>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>


@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }