@model OlvidoPasswordVM

@{
    ViewData["title"] = "Olvido su contraseña";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card">
    <div class="card-header" style="background-color:#BFCEDF;">
        <h2 class="card-title text-center" style="color:#003865;">Olvidó su Contraseña</h2>
    </div>
    <div class="card-body">
        <form asp-controller="Cuentas" asp-action="OlvidoPassword" method="post" role="form">
            <div class="text-danger" asp-validation-summary="All"></div>

            <div class="row mt-4">
                <div class="col-sm-6 offset-3">
                    <div class="mb-3">
                        <label asp-for="Email" class="col-md-12"></label>
                        <input asp-for="Email" class="form-control" placeholder="Introduce tu email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>                    
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 mt-3" style="margin-left:38%;">
                    <button type="submit" class="btn w-40 btn-lg" style="background-color:#003865; color:white;">Recuperar Contraseña <i class="bi bi-arrow-right-circle-fill"></i></button>
                </div>
            </div>

        </form>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }