@model CambiarPasswordVM
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["title"] = "Cambiar Contraseña";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header" style="background-color:#BFCEDF;">
        <h2 class="card-title text-center" style="color:#003865;">Cambiar Contraseña Usuario</h2>
    </div>
    <div class="card-body">
        <form asp-controller="Usuarios" asp-action="CambiarPassword" method="post">

            <input type="hidden" name="email" value="@UserManager.GetUserName(User)" />
            <div class="text-danger" asp-validation-summary="All"></div>

            <div class="row mt-4 offset-4">
                <div class="col-sm-6">                   
                    <div class="mb-3">
                        <label asp-for="Password" class="col-md-12"></label>
                        <input asp-for="Password" class="form-control" placeholder="Introduce la nueva Contraseña" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>


                </div>               
            </div>
            <div class="row mt-3 offset-4">
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label asp-for="ConfirmPassword" class="col-md-12"></label>
                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Introduce de nuevo la nueva Contraseña" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 offset-4">
                    <button style="margin-left:14%; background-color:#003865; color:white;" type="submit" class="btn w-60 btn-lg mt-2">Cambiar Contraseña <i class="bi bi-arrow-right-circle-fill"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
